.green{
    background-color: rgb(177, 238, 165);
}
.pink{
    background-color: rgb(249, 118, 162);
}
.orange{
    background-color: orange;
}
.light-blue{
    background-color: lightblue;
}
.red{
    background-color: red;
}
.yellow{
    background-color: rgb(199, 199, 54);
}
.purple{
    background-color: rgb(234, 145, 234);
}
.violet{
    background-color: grey;
}
.darkblue{
    background-color: rgb(120, 120, 237);
}
.darkgreen{
    background-color: rgb(145, 212, 243);
}